<%= form_for([@user , @comment]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Comment..." %>
  </div>
  <%= hidden_field :micropost_id, value: micropost.id  %>
  <%= f.submit "comment", class: "btn btn-primary" %>
<% end %>
